svg.plot {
  border: 2px solid black;
}

.brush .selection {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.highlighted .selection {
  stroke: orange;
  stroke-width: 2;
}

.axis--y g.tick line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

rect.panel {
  stroke: black;
  stroke-width: 0.9;
  fill: transparent;
}