svg.plot {
  border: 2px solid black;
}

.brush .selection {
  stroke: steelblue;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.highlighted .selection {
  stroke: orange;
  stroke-width: 2;
}

.axis text {
  font: 11px sans-serif;
  fill: steelblue;
}

.axis--y g.tick line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.axis--y .domain {
  stroke: transparent;
}

rect.panel {
  stroke: steelblue;
  stroke-width: 2.5;
  fill-opacity: 0.05;
  cursor: move;
  pointer-events: all;
}