svg {
  border: 1px solid red;
  .axis text {
    font: 10px sans-serif;
    fill: steelblue;
  }
  rect.shape {
    stroke: #CCC;
    fill: #EAEAEA; 
  }
  line.border {
    stroke: #777;
  }
  line.gridline {
    stroke: #777;
    opacity: 0.5;
    stroke-dasharray: 2 2; 
  }
  path.connection {
    fill: none;
    shape-rendering: "optimizeQuality"; 
    &.local {
      stroke-width: 2;
      stroke: #777;
      opacity: 0.5;
    }
    &.junction {
      stroke-width: 2;
      stroke: red;
      opacity: 0.5;
    }
  }
}