svg {
  border: 1px solid red;
}
svg .axis text {
  font: 12px sans-serif;
  fill: steelblue;
}
svg .legend-container .tick line {
  stroke: #777;
}
svg .legend-container text {
  font: 12px sans-serif;
  fill: steelblue;
}
svg .legend-container text.button-text {
  font: 14px sans-serif;
  fill: black;
}
svg .legend-container text.drop-shadow {
  font: 14px sans-serif;
  stroke: white;
  stroke-width: 1.66px;
  opacity: 0.9;
}
svg .panels-container .axis--x g.tick line {
  stroke: #777;
  stroke-dasharray: 2,2;
}
svg rect.shape {
  stroke: #777;
  fill: #EAEAEA;
}
svg rect.background {
  opacity: 0.05;
}
svg line.border {
  stroke: #777;
}
svg line.gridline {
  stroke: #777;
  opacity: 0.5;
  stroke-dasharray: 2 2;
}
svg path.connection {
  fill: none;
  shape-rendering: "optimizeQuality";
}
svg path.connection.local {
  stroke-width: 2;
  stroke: #777;
  opacity: 0.5;
}
svg path.connection.junction {
  stroke-width: 2;
  stroke: red;
  opacity: 0.5;
}
svg  .zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
div.popover {
  max-width: 100%;
  position: absolute;
  pointer-events: none;
}
div.popover .table-label {
  color: #404041;
  line-height:16px;
  padding: 5px 0px 3px 0px;
}
div.popover .table-value {
  color: #404041;
  line-height: 16px;
  padding: 5px 5px 3px 5px;
}